.bg-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: 'Roboto';
  color: #ffffff;
}
.login-form-container {
  background-color: #272727;
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 500px;
}
.website-logo {
  align-self: center;
}
.label {
  color: #ffffff;
  margin-top: 30px;
}
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #6366f1;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #ffffff;
}
.login-btn {
  background-color: #4f46e5;
  border-width: 0px;
  border-radius: 8px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
}
.error-msg {
  color: #ff0b37;
}